@import "reset.css";

body * {
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    margin: 0;
    border: 0;
    min-height: 100vh;
    min-width: 750px;
    background-color: rgb(147, 183, 229);
    
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 700;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.menuContainer {
    display: flex;

}

.playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-size: 1.1rem;
}

.playerDiv input {
    width: 200px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.1rem;
    padding: 2px 10px;
}

.btnContainer {
    margin-top: 30px;
}

.newGameBtn {
    background-color: rgb(245, 229, 158);
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.gameboardGrid {
    display:grid;
    min-height: 600px;
    min-width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.midV {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.midH {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

img[src="images/x.svg"]{
    height: 150px;
    width: auto;
}

img[src="images/circle.svg"]{
    height: 140px;
    width: auto;
}

/*.newPlayerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.playerName {
    font-size: 35px;
    font-weight: 550;
}

.newPlayerDiv .vs {
    font-size: 25px;
}*/

.playerNameContainer {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}

.player1Name, .player2Name {
    font-size: 35px;
    font-weight: 550;
}

.vs {
    font-size: 25px;
}

.popup {
    width: 350px;
    height: 200px;
    display: none;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border: 10px double black;
    border-radius: 15px;
}